@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}

@keyframes slide {
  from { top: 300px;}
  to   { top: 0; }
}

.panel {
	min-height: 100vh;
	width: 100vw;
}

.panel-overlay {
	position: relative;
}

.panel-overlay .overlay .overlay-main img {
	height: 50%;
	width: 50%;
	object-fit: unset;
}

.panel-overlay .overlay {
	position: absolute;
	top: 10px;
    bottom: 10px;
    left: 10px;
	width: 50%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
    justify-content: center;
    align-items: center;
    animation: fadein 2s;
}


.panel-overlay .overlay .overlay-main {
	position: absolute;
    left: 10%;
    right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel-overlay .overlay .text-title {
	color: #f04b45;
	text-align: center;
	position: absolute;
	font-family: nimbus-roman, serif;
}

.panel-overlay .overlay .text-title h1 {
	font-size: 30px;
	background: black;
	margin: 0 auto;
	width: max-content;
	padding: 0 10px;
}
.panel-overlay .overlay .text-title h4 {
	background: black;
	margin: 0 auto;
	width: max-content;
	padding: 0 10px;
}

.panel-overlay .overlay .text-block {
	color: #fff;
	background: #000;
	position: absolute;
	bottom: 10%;
	width: 50%;
    margin: 0;
	font-size: 10px;
}

.panel-overlay img {
	object-fit: cover;
    height: 100vh;
    width: 100vw;
}

.text-block {
	text-align: center;
	font-family: vinyl;
}

@media (max-width: 640px) {
	.panel-overlay .overlay {
		width: 100vw;
	}

}

.panel-image {
	min-height: 0;
}
.panel-image img {
	background-size: cover;
	max-width: 100vw
}

.panel-background {
	display: flex;
	justify-content: center;
	align-items: center;
}

.panel-background .slide-section {
	position: relative;
}


.panel-background .slide-section {
	display: flex;
    align-items: center;
    flex-direction: column;
	position: relative;
	top: 300px;
	transition: top 1s;

}

.panel-background img {
	max-width: 80vw;
	max-height: 70vh;
	margin: 0 auto;
}

.panel-background .slide-section .top-image {
	top: 10%;
}

.panel-background .text-block {
	font-family: nimbus-roman, serif;
    width: 455px;
    max-width: 80vw;
    font-size: 12px;
    line-height: 16px;
    margin: 0 auto;
    padding-top: 20%;
    
}

.panel-background .slide-section.slide-image {
  top: 0;
  animation: fadein 3s;
}

.panel-stacked {
	padding-top: 100px;
	width: 100vw;
}

.panel-stacked img {
	width: 100vw;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}

@media (min-width: 960px) {
	.panel-stacked img {
		width: 60vw;
		opacity: 0;
		transition: all 2s;
	}
	.panel-stacked img.show-panel {
		opacity: 1;
	}

	.panel-stacked img:nth-child(1) {
		margin-left: 70px;
	}
	.panel-stacked img:nth-child(2) {
		position: relative;
		float: right;
		margin-right: 70px;
		margin-top: -50px;
	    z-index: 100;
	}
	.panel-stacked img:nth-child(3) {
		margin-top: -50px;
		margin-left: 70px;
	}
}